/* 전체 */
:root {

    /* 색 */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* 폰트 사이즈 */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* 폰트 굵기 */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* 크기 */
    --size-border-radius: 4px;

    /* 애니메이션 */
    --animation-duration: 300ms;
  }
  
  /* Universal tags */
  *{
      box-sizing: border-box;
  }

 body{
     font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: 0;
 }

 a{
     text-decoration: none;
     color: var(--color-white);
 }

 ul{
     list-style: none;
     padding: 0;
 }
  
 button{
   background-color: transparent;
   cursor: pointer;
   border: none;
   outline: none;
 }
 table{
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
 }
  /* Typography */
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;  
  }

  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }

  /* 네비게이션 바 */
  #navbar {
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: transparent;
      align-items: center;
      padding: 8px 16px;
      transition: all var(--animation-duration);
      background-color: var(--color-white);
  }
  #navbar:hover{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
  }
  #navbar.navbar--fixed{
    position: fixed;
    background-color: var(--color-white);
    padding: 8px 16px;
    opacity: 90%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
    z-index: 1;
  }

  .navbar__menu {
    display: flex;
  }

  .navbar__logo {
    border-radius: 50%;
    width: 80px;
    height: 50px;
  }

  .navbar__menu__item {
      opacity: 100%;
      padding: 8px 12px;
      margin: 0 4px;
      cursor: pointer;
      color: var(--color-grey);
      border: 1px solid transparent;
      border-radius: var(--size-border-radius);
      font-size: var(--font-small);
      font-weight: var(--weight-semi-bold);
  }
  


  .navbar__toggle-btn {
    color: var(--color-black);
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    display: none;
  }

  .line{
    display: block;
    border-bottom: 2px solid #222;
    width: 40px;
    margin: 20px auto 20px;
  }

.join_main{
    padding: 100px;
    text-align: center;
    min-width: 1400px;
}

.join_main h3{
    padding: 50px 0 10px;
    font-size: 16px;
    color: #2e2e2e;
}

.boardForm{
    margin-top: 100px;
}

.footer{
    text-align: center;
}

.footer img{
    width: 160px;
    height: 110px;
}