/* 전체 */
:root {

    /* 색 */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* 폰트 사이즈 */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* 폰트 굵기 */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* 크기 */
    --size-border-radius: 4px;

    /* 애니메이션 */
    --animation-duration: 300ms;
  }
  
  /* Universal tags */
  *{
      box-sizing: border-box;
  }

 body{
    font: 0.75em 'Open Sans','Nanum Gothic','Malgun Gothic','맑은 고딕',Dotum,'돋움','AppleGothic','Apple SD Gothic Neo',sans-serif;
    margin: 0;
 }

 a{
     text-decoration: none;
     color: var(--color-black);
 }

 ul{
     list-style: none;
     padding: 0;
 }
  
 button{
   background-color: transparent;
   cursor: pointer;
   border: none;
   outline: none;
 }
 table{
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
 }
  /* Typography */
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;  
  }

  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }


/* 네비게이션 바 */
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding: 8px 16px;
    transition: all var(--animation-duration);
    background-color: var(--color-white);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
}

#navbar.navbar--fixed{
  position: fixed;
  background-color: var(--color-white);
  padding: 8px 16px;
  opacity: 90%;
  z-index: 1;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  border-radius: 50%;
  width: 80px;
  height: 50px;
}

.navbar__menu__item {
    opacity: 100%;
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    color: var(--color-grey);
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
    font-size: var(--font-small);
    font-weight: var(--weight-semi-bold);
}


.navbar__menu__item:hover {
    border-color: var(--color-white);
    border-radius: var(--size-border-radius);
}

.navbar__toggle-btn {
  color: var(--color-black);
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  display: none;
}

.title_area{
    min-height: 30px;
    margin: 50px 0 37px;
    text-align: center;
}

img, fieldset{
    border: none;
    vertical-align: top;
}

.login_main{
    padding: 40px;
    padding-top: 130px;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
}

.login fieldset{
    position: relative;
    width: 402px;
    margin: 0 auto;
}

.login fieldset .id, .login fieldset .pw{
    overflow: hidden;
    display: block;
    width: 400px;
    margin: 0 0 9px;
    border: 1px solid #d9d9d9;
    color: #8F8F91;
}

.login fieldset .id span img, .login fieldset .pw span img{
    padding: 9px 7px 0 9px;
}

.login fieldset .id span, .login fieldset .pw span{
    font-size: 11px;
    letter-spacing: 1px;
    float: left;
    width: 80px;
    height: 35px;
    line-height: 38px;
    background: #fff;
    color: #c9c9c9;
}

.login fieldset input{
    float: left;
    width: 242px;
    height: 35px;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 2px 2px 2px 3px;
    border: 0 none;
    color: #8F8F91;
    outline: none;
}

.login fieldset .security{
    color: #999;
    padding: 0 20px 0 0;
    font-size: 11px;
    margin-top: 5px;
}

.login fieldset .security label{
    margin: 0 6px 0 0;
}

.login fieldset .security input{
    width: 13px;
    height: 13px;
    margin: 0 3px 0 0;
    vertical-align: -3px;
    vertical-align: 2px;
}

.login fieldset ul{
    overflow: hidden;
    text-align: right;
    padding: 4px 5px 5px;
    margin: 0;
    border: 0;
}

.login fieldset li{
    float: left;
    padding: 0 0 0 3px;
    color: #999;
}

.login fieldset li a{
    color: #999;
    font-size: 11px;
}

.login_btn{
    padding: 13px 0;
    margin: 15px 0 0;
    width: 400px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
    display: inline-block;
    background: #222;
    border: 1px solid #222;
    text-align: center;
}

.login fieldset .join{
    position: relative;
    width: 398px;
    line-height: 17px;
    margin: 30px 0 0 0;
    border: 1px solid #e1e1e1;
    text-align: center;
    padding: 33px 0 8px 0;
    color: #757575;
}

.login fieldset .join a{
    margin: 15px 0 30px 0;
}

.join_btn{
    padding: 13px 33px;
    font-size: 13px;
    font-weight: 700;
    margin: 20px 3px;
    width: 400px;
    letter-spacing: 1px;
    display: inline-block;
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
}


.footer{
    text-align: center;
}

.footer img{
    width: 160px;
    height: 110px;
}