/* 전체 */
:root {

    /* 색 */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* 폰트 사이즈 */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* 폰트 굵기 */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* 크기 */
    --size-border-radius: 4px;

    /* 애니메이션 */
    --animation-duration: 300ms;
  }
  
  /* Universal tags */
  *{
      box-sizing: border-box;
  }

body{
    font: 0.75em 'Open Sans','Nanum Gothic','Malgun Gothic','맑은 고딕',Dotum,'돋움','AppleGothic','Apple SD Gothic Neo',sans-serif;
    margin: 0;
}

 a{
     text-decoration: none;
     color: var(--color-black);
 }

 ul{
     list-style: none;
     padding: 0;
     margin: 0;
 }
  
 button{
   background-color: transparent;
   cursor: pointer;
   border: none;
   outline: none;
 }
 table{
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
 }
  /* Typography */
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;  
  }

  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }


/* 네비게이션 바 */
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding: 8px 16px;
    transition: all var(--animation-duration);
    z-index: 1;
    background-color: white;
}
#navbar:hover{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
}
#navbar.navbar--fixed{
  position: fixed;
  background-color: var(--color-white);
  padding: 8px 16px;
  opacity: 90%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
  z-index: 1;
}

#navbar.navbar--fixed .navbar__menu__item{
    color: var(--color-grey);
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  border-radius: 50%;
  width: 80px;
  height: 50px;
}

.navbar__menu__item {
    opacity: 100%;
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    color: var(--color-black);
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
    font-size: var(--font-small);
    font-weight: var(--weight-semi-bold);
}

.navbar__toggle-btn {
  color: var(--color-black);
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  display: none;
}

.product_main{
  max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    text-align: center;
}


/* 제품 product */
.grid1{
  max-width: 1280px;
  padding: 25px 0 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.item_list{
  display: inline-block;
    margin: 0 20px 50px;
    width: 217px;
    vertical-align: top;
}

.product_img{
  width: 217px;
  height: 270px;
  filter: alpha(opacity=100);
  opacity: 1;
  background-color: var(--color-light-white);
}

.product_img img{
  width: 217px;
  height: 270px;
}

.product_discription{
  width: 217px;
  cursor: pointer;
}

.name{
  width: 217px;
  padding: 15px 0 12px;
  margin: 0 0 2px;
  display: block;
  border-bottom: 1px solid #e1e1e1;
}

.pric{
  display: inline-block;
  
}

/* 하단 */
.footer{
    text-align: center;
    background-color: var(--color-light-grey);
    padding: 10px;
}

.footer p{
    font-size: 12px;
    color: white;
}

.footer img{
    width: 80px;
    height: 55px;
}
