/* 전체 */
:root {

    /* 색 */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* 폰트 사이즈 */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* 폰트 굵기 */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* 크기 */
    --size-border-radius: 4px;

    /* 애니메이션 */
    --animation-duration: 300ms;
}

  /* Universal tags */
*{
    box-sizing: border-box;
}

body{
    font: 0.75em 'Open Sans','Nanum Gothic','Malgun Gothic','맑은 고딕',Dotum,'돋움','AppleGothic','Apple SD Gothic Neo',sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
table{
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
  /* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;  
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}


/* 네비게이션 바 */
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding: 8px 16px;
    transition: all var(--animation-duration);
}
#navbar:hover{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
}
#navbar.navbar--fixed{
    position: fixed;
    background-color: var(--color-white);
    padding: 8px 16px;
    opacity: 90%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
    z-index: 1;
}

#navbar.navbar--fixed .navbar__menu__item{
    color: var(--color-grey);
}

.navbar__menu {
    display: flex;
}

.navbar__logo {
    border-radius: 50%;
    width: 80px;
    height: 50px;
}

.navbar__menu__item {
    opacity: 100%;
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    color: var(--color-white);
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
    font-size: var(--font-small);
    font-weight: var(--weight-semi-bold);
}


/* 배너 */
.main_banner{
    text-align: center;
}
.main_banner img{
    width: 100%;
    margin-top: -34%;
}

.main_banner h2{
    padding: 5px 10px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate( -50%, -440% );
    color: white;
}

.main_banner p{
    padding: 5px 10px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate( -50%, -460% );
    color: white;
}

/* 공지사항*/
.qna_main{
    padding: 40px;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
}

.qna_main p{
    padding-bottom: 15px;
    
}

.qna_head{
    font-size: 11px;
    font-weight: normal;
    vertical-align: middle;
    letter-spacing: 1px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    color: #353535;
}

.qna_head td{
    padding: 11px 0 10px;
}

.qna_list_item{
    font-size: 13px;
    border-bottom: 1px solid #dfdfdf;
}

.qna_list_item td{
    padding: 24px 0 26px 10px;
}

.qna_list_item .qna_title{
    text-align: left;
}

.qna_list_item .qna_date{
    font-size: 11px;
}

.qna_list_item .qna_title_fix{
    text-align: left;
    font-weight: bold;
}

.qna_product img{
    width: 60px;
    display: inline-block;
    vertical-align: middle;
}

.qna_product span{
    width: 250px;
    padding: 0 0 0 8px;
    font-size: 12px;
    text-align: left;
}

/* 페이지 */
.qna_page{
    display: flex;
    justify-content: center;
}

.qna_page li{
    font-size: 12px;
}

.qna_page li a.this_page{
    padding-bottom: 6px;
    font-weight: 700;
    border-bottom: 3px solid #222;
    color: #000;
}

.qna_page li a{
    border: 1px solid #d7d5d5;
    padding: 9px 0;
    display: block;
    width: 33px;
    line-height: 14px;
    margin-left: -1px;
    color: #939393;
}

.qna_page_div{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.qna_page_div img{
    vertical-align: top;
}

/* 검색 */
select{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    
}

input, select, textarea{
    outline: none;
    font-size: 80%;
    font-family: 'Open Sans','Nanum Gothic',Verdana,Dotum,sans-serif;
    color: #111111;
    vertical-align: middle;
} 

#search{
    width: 72px;
    height: 28px;
    border: 1px solid #d5d5d5;
}

input[type="text"]{
    height: 28px;
    width: 162px;
    line-height: 24px;
    padding: 2px 4px;
    border: 1px solid #d5d5d5;
    color: #111111;
    font-size: 12px;
}

.search_btn{
    padding: 7px 23px 6px;
    font-size: 11px;
    margin: 2px 3px;
    letter-spacing: 1px;
    display: inline-block;
    background: #fff;
    border: 1px solid #d5d5d5;
    text-align: center;
    height: 28px;
}

.write_btn_div{
    height: 50px;
}

.write_btn{
    padding: 7px 23px 6px;
    font-size: 11px;
    margin: 20px 40px;
    letter-spacing: 1px;
    display: inline-block;
    background: #fff;
    border: 1px solid #d5d5d5;
    text-align: center;
    height: 28px;
    float: right;
}

/* 하단 */
.footer{
    text-align: center;
    background-color: var(--color-light-grey);
}

.footer p{
    font-size: 12px;
    color: white;
}
.footer img{
    width: 80px;
    height: 55px;
}
