/* 전체 */
:root {

    /* 색 */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* 폰트 사이즈 */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* 폰트 굵기 */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* 크기 */
    --size-border-radius: 4px;

    /* 애니메이션 */
    --animation-duration: 300ms;
  }
  
  /* Universal tags */
  *{
      box-sizing: border-box;
  }

 body{
     font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: 0;
 }

 a{
     text-decoration: none;
     color: var(--color-white);
 }

 ul{
     list-style: none;
     padding: 0;
 }
  
 button{
   background-color: transparent;
   cursor: pointer;
   border: none;
   outline: none;
 }
 table{
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
 }
  /* Typography */
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;  
  }

  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }

  /* 네비게이션 바 */
  #navbar {
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: transparent;
      align-items: center;
      padding: 8px 16px;
      transition: all var(--animation-duration);
      background-color: var(--color-white);
  }
  #navbar:hover{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
  }
  #navbar.navbar--fixed{
    position: fixed;
    background-color: var(--color-white);
    padding: 8px 16px;
    opacity: 90%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
    z-index: 1;
  }

  .navbar__menu {
    display: flex;
  }

  .navbar__logo {
    border-radius: 50%;
    width: 80px;
    height: 50px;
  }

  .navbar__menu__item {
      opacity: 100%;
      padding: 8px 12px;
      margin: 0 4px;
      cursor: pointer;
      color: var(--color-grey);
      border: 1px solid transparent;
      border-radius: var(--size-border-radius);
      font-size: var(--font-small);
      font-weight: var(--weight-semi-bold);
  }
  


  .navbar__toggle-btn {
    color: var(--color-black);
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    display: none;
  }

  /* 메인화면 */
  #home{  
  background: url("/Project/imgs/main_home.gif") center/cover no-repeat;
  background-attachment: fixed;
  padding: 40px;
  padding-top: 100px;
  text-align: center;
  }


  .home__avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
  }

  .home__title{
    margin-top: 300px;
  }

  .home__title,
  .home__description {
    color: var(--color-white);
    
  }

  .home__contact {
    position: relative;
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
  }

  .home__contact:hover{
    background-color: #fff;
    color: var(--color-grey);
    transition: 0.8s;
  }

  /* Section 공통 */
  .section{
    padding: 50px;
    text-align: center;
    min-width: 1400px;
  // margin: auto;
  }

  //.section__container{
    max-width: 1400px;
    margin: auto;
  }

  /* 문의 사항등*/

  #about{
    background-color: #f7f6ef;
  }

  .about__news{
    display: flex;
    justify-content: space-around;
    margin: 60px 0;
  }

  .news__description{
    font-size: var(--font-small);
  }
  
  .news__title i{
    float: right;
    margin: 3px 0 0;
  }

  .news__title{
    border: 1px solid #e1e1e1;
    padding: 12px 15px;
    font-size: 12px;
    color: #000000;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
  }

  .news{
    padding: 45px 37px 10px ;
    width: 360px;
    height: 300px;
    display: block;
    float: left;
    background: #fff;
    font-size: 10;
    box-shadow: 0 22px 43px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 22px 43px rgba(0,0,0,0.10);
    transition: 0.3s;
  }

  .news:hover{
    opacity: 0.8;
  transform: translateY(-10px);
  }

  .news__description{
    font-size: var(--font-small);
  }

  .news_tbody{
    margin: 10px;
  }

  .news_tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  .news_td{
    background-image: url(/Project/imgs/news_list_icon.png);
    background-repeat: no-repeat;
    background-position: 0 11px;
  }

  .news_td a{
    font-size: 13px;
    color: #555;
    border-bottom: 1px solid #ececec;
    padding: 7px 2px 10px 18px;
    display: block;
    line-height: 20px;
    text-align: left;
  }
  
  /* 제품 product */

  
  .product__categories{
    max-width: 1200px;
    margin: auto;
  }
  .product__category{
    padding: 20px;
  }

  .category__btn{
    border: 1px solid var(--color-dark-white);
    border-radius: 0px;
    font-size: var(--font-micro);
    padding: 8px 108px;
    margin: 10px 10px;
    position: relative;
  }

  .category__btn.selected,
  .category__btn:hover {
    background-color: var(--color-grey);
    color: var(--color-white);
  }

  .category__btn:hover {
    background-color: #111111;
    transition: 0.8s;
  }

  .product__projects {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transition: all var(--animation-duration) ease-out;
  }
  
  .product__projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
  }

.product{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 290px;
  height: 350px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.product.invisible{
  display: none;
}

.product__img{
  max-width: 100%;
  max-height: 100%;
}

.product__description{
  position: absolute;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition:  all var(--animation-duration) ease-in;
}

.product:hover .product__description{
  opacity: 0.8;
  transform: translateY(0px);
}

.product__description h3{
  color: var(--color-black);
}
.product__description span{
  color: var(--color-dark-grey)
}

.product__description h3:after{
  content: " ";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/*  후기 Review */
#Review {
  background-color: #f5f5f5;;
}

.Reviews {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.Review {
  padding: 15px 25px 10px ;
  margin: 32px 0px;
  display: block;
  float: left;
  background: #fff;
  font-size: 10;
  box-shadow: 0 22px 43px rgba(0,0,0,0.10);
  -webkit-box-shadow: 0 22px 43px rgba(0,0,0,0.10);
  transition: 0.3s;
}

.Review:hover{
  opacity: 0.8;
transform: translateY(-10px);
}

.Review__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
  width: 290px;
  height: 318px;
}

.Review__speech-bubble p {
  color: var(--color-light-grey);
}

.Review__speech-bubble img {
  width: 100%;
  height: 100%;
}

.Review__speech-bubble .name{
  color: var(--color-black);
}

/* Contact */
#contact{
  background-color: var(--color-white);
  border: #000000 1px;
}
.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-black);
} 

.contact__title{
  margin: 16px;
}

/* For below 768px screen width */
@media screen and (max-width: 768px){
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__logo {
    border-radius: 50%;
    width: 70px;
    height: 40px;
  }

  .navbar__toggle-btn{
    display: block;
    top: 19px;
    right: 16px;
    font-size: var(--font-medium);
  }

  #navbar{
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-white);
  }

  #navbar.navbar--fixed{
    padding: 16px;
    z-index: 1;
    opacity: 100%;
  }
  .navbar__menu{
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open{
    display: block;
  }

  .section{
    padding: 16px;
    padding-top: 40px;
  }

  .about__news{
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .news {
    margin-bottom: 30px;
    width: auto;
    height: auto;
  }

  .category__btn{
    padding: 8px;
    margin: 4px 0;
    width: 100%;
  }

  .product{
    flex-grow: 1;
  }

  .Reviews {
    display: inline;
    justify-content: space-around;
    margin: 40px;
  }

  .Review{
    flex-direction: column;
    align-items: center;
  }

  .Review__speech-bubble {
    order: 1;
    width: auto;
    height: auto;
  }

}